
.idea/
wp-config.php
.htaccess
# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
wp-content/uploads

# ignore these plugins
wp-content/plugins/hello.php

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite

wp-content/plugins/google-api/client_secret_922551308385-m8bfrgcnqk16vtvjun85ue0db14v5oc2.apps.googleusercontent.com.json
wp-content/plugins/google-api/token.json